<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar(active)" class="indigo">
    <div class="nav-wrapper container">
        <a th:href="@{/admin/ofertas}" class="brand-logo">
            <i class="material-icons left">storefront</i>Backoffice
        </a>
        <ul class="right hide-on-med-and-down">
            <li th:classappend="${active == 'ofertas'} ? 'active-link' : ''">
                <a th:href="@{/admin/ofertas}"><i class="material-icons left">sell</i>Ofertas</a>
            </li>
            <li th:classappend="${active == 'cupons'} ? 'active-link' : ''">
                <a th:href="@{/admin/cupons}"><i class="material-icons left">confirmation_number</i>Cupons</a>
            </li>
            <li><span class="user-chip" sec:authentication="name"></span></li>
            <li>
                <form th:action="@{/admin/logout}" method="post" class="logout-form">
                    <button type="submit" class="btn-flat white-text waves-effect">
                        <i class="material-icons left">logout</i>Sair
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
